body {
  margin: 0;
  width: 100vw;
  height: 100 vw;
  padding: 0;
  background-color: rgb(0,0,0);
  color: peru;
  font-family: audrey;
}
a:link, a:visited{
  background-color: peru;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: audrey;
}
a:hover, a:active{
  background-color: #ffc815;
}
img{
  width: 100vw;
  height: auto;
}
h1{
  font-size: 32pt;
  font-style: italic;
  font-family: audrey;
  display: block;
  width: 100%;
  text-align: center;
}
nav{
  text-align: center;
}